.form  {
    margin:0 auto;
    width: 500px;
    max-height: 550px;
    border: 1px solid rgb(87, 87, 87);
    padding: 10px
}



Button{
    width: 200px;
    margin-top: 50px;
    position: relative;
    left: 140px;

}

Label{
    flex: auto;
    left: 50px;
    height: 60px;
}


Input[type=password ], Input[type=text ]  {
    position: relative;
    left: 50px;
    width: 230px;
}



.text-danger{
    margin-top: 20px;
    position: relative;
    left: 70px;
}

.text-success{
    margin-top: 20px;
    position: relative;
    left: 70px;
}

.text-danger::before {
    margin-left: 10px;
    content: "✘ ";
}

.text-success::before {
    content: "✓ "
}
